{
    root: true,
    parser: "@typescript-eslint/parser",
    plugins: [
        "@typescript-eslint"
    ],
    extends: [
        "@smartling/eslint-config-smartling"
    ],
    rules: {
        "no-return-await": "off"
    }
}
